button {
    cursor: pointer;
    color: black;
    background-color: #FFE01B;
    display: inline-block;
    font-weight: bold;
    width: auto;
    border: 1px solid rgb(196, 196, 196);
    padding: 5px 15px;
}

button:active {
    transform: scale(0.9);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

button:hover {
    background-color: black;
    color: white;
}
div {
    margin-bottom: 15px;
}